.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #0003;
  backdrop-filter: blur(2px);
  z-index: 100;
  &__wrapper {
    position: absolute;
    bottom: auto;
    right: auto;
    left: 50%;
    top: 50%;
    max-width: 398px;
    width: 100%;
    padding: 0 16px 32px;
    transform: translate(-50%, -40%);
    color: $main-text;
    background-color: $white;
    border-radius: 12px;
    overflow: hidden;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  h3 {
    margin-top: 64px;
    font-family: $font-family-title;
    font-size: calc(24px + (32 - 24) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 500;
    line-height: normal;
    text-align: center;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    max-width: 366px;
    width: 100%;
  }
  &__item {
    flex: 1 0 0;
  }
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-family: $font-family-text;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75;
  }
  &__img {
    width: 51px;
    height: 51px;
  }
  &__close {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__btn {
    max-width: 336px;
  }

  @include mq(tablet) {
    &__wrapper {
      max-width: 500px;
      padding-left: 32px;
      padding-right: 32px;
    }

    &__list {
      gap: 40px;
    }

    &__close {
      right: 24px;
      top: 24px;
    }
    &__btn {
      max-width: 433px;
    }
  }
  @include mq(desktop) {
    &__wrapper {
      max-width: 777px;
    }
    &__content {
      gap: 130px;
    }
    &__list {
      max-width: 713px;
    }
    &__img {
      width: 102px;
      height: 102px;
    }
    &__link {
      gap: 16px;
      font-size: 20px;
      line-height: 1.4;
    }
    &__btn {
      max-width: 533px;
    }
  }
}
