.header {
  position: absolute;
  right: 0;
  left: 0;
  padding-top: 32px;

  @include mq(mobile-only) {
    padding-top: 24px;
  }

  &_nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 2.44;
  }

  &_logo {
    width: 72px;

    @include mq(menuBreakPoint) {
      width: 48px;
    }

    @include mq(desktop) {
      width: 72px;
    }

  }

  &_menu {
    display: flex;
    gap: 48px;

    @include mq(menuBreakPoint) {
      position: absolute;
      right: 0;
      top: 56px;
      flex-direction: column;
      align-items: flex-end;
      gap: 12px;
      background-color: $accent;
      color: $main-text;
      border-radius: 12px;
      padding: 8px;
      width: 303px;
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: height 0.3s ease, opacity 0.3s ease;
    }

    &.open {
      @include mq(menuBreakPoint) {
        height: 172px;
        opacity: 1;
      }
    }
  }



  &_item {
    transition: color ease 0.3s;
    color: $secondary-text;

    @include mq(menuBreakPoint) {
      color: $main-text
    }

    &:hover {
      color: $accent;
    }
  }

  &_burger {
    display: none;

    @include mq(menuBreakPoint) {
      display: block;
      cursor: pointer;
    }

  }

}