@import "./vars.scss";
@import "./mixins/buttons.scss";
@import "./mixins/transparent.scss";
@import "./breakpoints.scss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family-text;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25;
  color: $main-text;
  background-color: $main-bg;
}

.container {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 100%;
  width: 100%;

  @include mq(tablet) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @include mq(desktop) {
    padding-left: 64px;
    padding-right: 64px;
    max-width: 1440px;
  }
}
.modal {
  background: #0003;
  bottom: 0;
  height: 100vh;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  &-wraper {
    border-radius: 20px;
    bottom: auto;
    left: 50%;
    overflow: hidden;
    position: absolute;
    right: auto;
    top: 50%;
    width: calc(317px + (277 - 20) * ((100vw - 320px) / (1440 - 320)));
    transform: translate(-50%, -40%);
    background-color: #fff;
    color: #000;
    padding: calc(16px + (24 - 20) * ((100vw - 320px) / (1440 - 320)));
  }
  &-content {
    display: flex;
    flex-direction: column;
    row-gap: 83px;
  }
  h3 {
    font-size: calc(24px + (32 - 20) * ((100vw - 320px) / (1440 - 320)));
    text-align: center;
    padding-top: 50px;
  }
  &-link {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    gap: 40px;
    img {
      width: 100%;
      margin-bottom: 16px;
    }
  }
  .close {
    position: absolute;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
  }
}

.section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.btn_primary {
  @include btn_base();
  justify-content: center;
  color: $main-text;
  background-color: $accent;
  border: 2px solid transparent;

  &:hover,
  &:focus {
    color: $secondary-text;
    background-color: $hover;
  }

  &:disabled {
    color: $main-text;
    background-color: $accent;
  }
}

.btn_secondary {
  @include btn_base();
  justify-content: space-between;
  color: $main-text;
  border: 2px solid $main-text;

  &.hero {
    color: $secondary-text;
    border: 2px solid $secondary-text;

    .arrow-icon {
      fill: $secondary-text;
    }
  }

  .arrow-icon {
    width: 24px;
    height: 24px;

    @include mq(desktop) {
      width: 48px;
      height: 48px;
    }
  }

  &:hover,
  &:focus {
    color: $hover;
    border: 2px solid $hover;
  }

  &:disabled {
    color: $main-text;
    border: 2px solid $main-text;
  }
}

.title {
  margin-bottom: 32px;
  font-family: $font-family-title;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;

  @include mq(tablet) {
    font-size: 40px;
  }

  @include mq(desktop) {
    margin-bottom: 56px;
    font-size: 48px;
  }
}

.subtitle {
  font-family: $font-family-title;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  background-color: $accent;

  @include mq(tablet) {
    font-size: 28px;
  }

  @include mq(desktop) {
    font-size: 32px;
  }
}

.text {
  font-family: $font-family-text;
  font-size: 16px;
  font-weight: 300;

  @include mq(tablet) {
    font-size: 28px;
  }

  @include mq(desktop) {
    font-size: 32px;
    line-height: 1.38;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

// Swiper

.swiper {
  margin-bottom: 24px;

  @include mq(tablet) {
    margin-bottom: 32px;
  }
}

.swiper .swiper-wrapper {
  padding-bottom: 16px;

  @include mq(tablet) {
    padding-bottom: 32px;
  }
}

.swiper .swiper-pagination-bullet {
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: $main-text;
  opacity: 1;

  @include mq(tablet) {
    width: 8px;
    height: 8px;
  }
}

.swiper .swiper-pagination-bullet-active {
  background-color: $accent;
}

.swiper .swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0 !important;
}

.swiper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 !important;
  margin-right: 8px !important;
}
