@import "./vars.scss";
@import "./mixins/buttons.scss";
@import "./mixins/transparent.scss";
@import "./breakpoints.scss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family-text;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25;
  color: $main-text;
  background-color: $main-bg;
}

.container {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 100%;
  width: 100%;

  @include mq(desktop) {
    padding-left: 64px;
    padding-right: 64px;
    max-width: 1440px;
  }
}

.section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.btn_primary {
  @include btn_base();
  color: $main-text;
  background-color: $accent;

  &:hover,
  &:focus {
    color: $secondary-text;
    background-color: $hover;
  }

  &:disabled {
    color: $main-text;
    background-color: $accent;
  }
}

.btn_secondary {
  @include btn_base();
  color: $main-text;
  border: 2px solid $main-text;

  &:hover,
  &:focus {
    color: $hover;
    border: 2px solid $hover;
  }

  &:disabled {
    color: $main-text;
    border: 2px solid $main-text;
  }
}

.title {
  font-family: $font-family-title;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;

  @include mq(desktop) {
    font-size: 48px;
  }
}

.subtitle {
  font-family: $font-family-title;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  background-color: $accent;

  @include mq(desktop) {
    font-size: 32px;
  }
}

.text {
  font-family: $font-family-text;
  font-size: 16px;
  font-weight: 300;

  @include mq(desktop) {
    font-size: 32px;
    line-height: 1.38;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
}

// Swiper

.swiper {
  margin-bottom: 24px;
  @include mq(desktop) {
    margin-bottom: 32px;
  }
}
.swiper .swiper-wrapper {
  padding-bottom: 16px;
  @include mq(desktop) {
    padding-bottom: 32px;
  }
}
.swiper .swiper-pagination-bullet {
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: $main-text;
  opacity: 1;
  @include mq(desktop) {
    width: 8px;
    height: 8px;
  }
}
.swiper .swiper-pagination-bullet-active {
  background-color: $accent;
}
.swiper .swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0 !important;
}
.swiper
  .swiper-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 !important;
  margin-right: 8px !important;
}

